<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'shop/css/style1.css' %}">
        <link rel="shortcut icon" href="{% static 'shop/img/cpu.png' %}" />
        <title>Hardware Shop - Tu mejor compañia de Hardware</title>
</head>
<header>
    <div class="container-fluid header">
        <div class="row info">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <h2>Administrador de Comentarios</h2>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Comentario</th>
                </tr>
            </thead>
            <tbody>
                {% for lis in listado_consultas %}
                <tr><td>{{lis.nomContacto}}</td><td>{{lis.apeContacto}}</td><td>{{lis.rutContacto}}</td><td>{{lis.telContacto}}</td><td>{{lis.CorreoContacto}}</td><td>{{lis.ComenContacto}}</td>
                    <td><a href="#">Modificar</a></td>
                    <td><a href="{% url 'delete_comentario' lis.rutContacto %}">Eliminar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="container p-2">
            <a class="info" href="{% url 'login' %}"><button type="button" class="btn btn-danger">Volver</button></a>
        </div>
        </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>
</html>